@import "~rfs/scss";
$rfs-factor: 2;

.sectionTitle {
    @include font-size(64px);
    font-weight: 300;
    color: var(--color-primary);
}

.subTitle {
    @include font-size(36px);
    font-weight: 300;
}