.techs {
    display: flex;
    flex-wrap: wrap;
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;
        align-items: center;
    }
    & img {
        max-width: 64px;
        flex-grow: 1;
    }
}