@import "normalize.css";

html,
body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--color-background);
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

section {
  padding: 0 5px;
}
