$media-sm: 37.5rem;
$media-md: 60rem;
$media-lg: 75rem;

$background: #fafafe;
$background-secondary: #fff;

$background-dark: #1e1e1e;
$background-secondary-dark: #2c2c2c;

$text: #222;
$text-dark: #fafafe;